[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=SensorScope
Exec=invoker --single-instance --type=e /opt/sensorscope/bin/sensorscope
Icon=/usr/share/icons/hicolor/80x80/apps/sensorscope.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
